//
// Settings Colors
//
$color-black: #000;
$color-gray--dark: #6d6e71;
$color-gray: #808285;
$color-gray--light: #c5c7c8;
$color-red: #ed6907;
$color-white: #fff;

$color-primary: #f07f07;

$color-background: #fff;
$color-border: #eee;
$color-error: $color-red;
$color-input: $color-gray--light;
$color-label: #51646b;
$color-success: #90d476;
$color-text: $color-gray;

$color-darken--module: 2;
