//
// Settings Typography
//

// Font Size.
$global-font-family: 'Open Sans', sans-serif;
$global-font-size: 1rem;

// Font Weight.
$font-weight--light: 300;
$font-weight--normal: 400;
$font-weight--bold: 600;
