//
// Components Frames
//
.woozapp-wrapper {

  // Site Frame
  .site-frame {
    background:          url('../imgs/mockups/mockup-mobile-android.png') no-repeat center center;
    background-position: 0;
    background-size:     auto 100%;
    height:              660px;
    position:            relative;
    right:               5px;
    width:               343px;

    iframe {
      bottom:   0;
      height:   509px;
      left:     19px;
      position: absolute;
      top:      74px;
      width:    304px;
    }
  }
}

@media only screen and (max-width: 47.94em) {
  .woozapp-wrapper {

    // Site Frame
    .site-frame {
      display: none;
    }
  }
}
